<div class="detail-time">
	<div class="detail-time__field">
		<div class="detail-time__title">9:00</div>
		<!-- /.detail-time__title -->
		<div class="detail-time__text">Встреча в отеле с гидом и водителем</div>
		<!-- /.detail-time__text -->
	</div>
	<!-- /.detail-time__field -->
	<div class="detail-time__field">
		<div class="detail-time__title">10:30</div>
		<!-- /.detail-time__title -->
		<div class="detail-time__text">Посещение одной из виноделен долины Касабланка*</div>
		<!-- /.detail-time__text -->
	</div>
	<!-- /.detail-time__field -->
	<div class="detail-time__field">
		<div class="detail-time__title">14:00 </div>
		<!-- /.detail-time__title -->
		<div class="detail-time__text">Возвращение в отель</div>
		<!-- /.detail-time__text -->
	</div>
	<!-- /.detail-time__field -->
</div>
<!-- /.detail-time -->
