@font-face {
	font-family: 'SFUIDisplay';
	src: url("fonts/SFUIDisplay-Ultralight.woff2");
	font-weight: 200;
}
@font-face {
	font-family: 'SFUIDisplay';
	src: url("fonts/SFUIDisplay-Light.woff2");
	font-weight: 300;
}
@font-face {
	font-family: 'SFUIDisplay';
	src: url("fonts/SFUIDisplay-Bold.woff2");
	font-weight: 700;
}
@font-face {
	font-family: 'ForgottenNovember';
	src: url("fonts/forgotten-november.otf");
	font-weight: 300;
}