.popup-city {
	width: 390px;

	.row {
		margin-left: -8px;
		margin-right: -8px;

		[class^=col-] {
			padding-left: 8px;
			padding-right: 8px;
		}
	}

	&__header {
		padding-top: 25px;
		margin-bottom: 16px;
	}

	&__bigcity {
		font-size: 14px;
		line-height: 1.71;
		color: #0077ff;
		margin-right: 24px;
		border-bottom: 1px dotted;
		transition: border 0.3s;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	&__section {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 16px;
	}

	&__field {
		width: calc(100% / 3);
	}

	&__link {
		font-size: 12px;
		line-height: 2;
		color: #002775;

		&:hover {
			text-decoration: underline;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 2.29;
		color: #2e2e2e;
	}

	&__submit {
		@include button($w: 100%, $p: 0);
	}
	@media (--phone) {
		width: 100%;

		&__field {
			width: 50%;
		}

		&__submit {
			margin-top: 23px;
		}
	}
}