<div class="social-like">
	<div class="social-like__text">Поделитесь с друзьями приглянувшимся туром</div>
	<!-- /.social-like__text -->
	<div class="social-like__row">
		<div class="social-like__item">
			<a href="#" class="social-like__link">
				<img data-src="images/facebook.svg" alt="" class="social-like__pic lazyload">
			</a>
		</div>
		<!-- /.social-like__item -->
		<div class="social-like__item">
			<a href="#" class="social-like__link">
				<img data-src="images/vk.svg" alt="" class="social-like__pic lazyload">
			</a>
		</div>
		<!-- /.social-like__item -->
		<div class="social-like__item">
			<a href="#" class="social-like__link"> 
				<img data-src="images/telega.svg" alt="" class="social-like__pic lazyload">
			</a>
		</div>
		<!-- /.social-like__item -->
		<div class="social-like__item">
			<a href="#" class="social-like__link">
				<img data-src="images/twitter.svg" alt="" class="social-like__pic lazyload">
			</a>
		</div>
		<!-- /.social-like__item -->
		<div class="social-like__item">
			<a href="#" class="social-like__link">
				<img data-src="images/subscribe.svg" alt="" class="social-like__pic lazyload">
			</a>
		</div>
		<!-- /.social-like__item -->
	</div>
	<!-- /.social-like__row -->
</div>
<!-- /.social-like -->
