.social-like {
	margin-bottom: 80px;
	position: relative;

	&__text {
		opacity: 0.5;
		font-size: 13px;
		font-weight: 300;
		line-height: 2.31;
		text-align: center;
		color: #ffffff;
		margin-bottom: 16px;
	}

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		margin: 0 2px;
	}

	&__link {
		text-decoration: none;
	}

	&__pic {
		display: block;
	}
	@media (--phone) {
		margin-bottom: 32px;

		.detail-gallery & {
			margin-bottom: 0;
			padding: 0 16px;
		}

		&__text {
			font-size: 12px;
			font-weight: 300;
			line-height: 15px;
			max-width: 160px;
			margin: 0 auto 16px;
		}

		&__row {
			flex-wrap: wrap;
		}

		&__item {
			margin: 0 4px 8px;
		}
	}
}