.contact {
	background: url("../images/contact.jpg") no-repeat center;
	background-size: cover;
	padding: 56px 0 80px;
	position: relative;

	&__title {
		margin-bottom: 24px;
	}

	&__text {
		font-size: 17px;
		font-weight: 300;
		line-height: 1.76;
		text-align: center;
		margin-bottom: 40px;
	}

	&__form {
		max-width: 548px;
		margin: 0 auto;
	}

	&__footer {
		display: flex;
		justify-content: center;
	}
	@media (--phone) {
		margin: 0 -16px;
		padding: 32px 16px;
		background-size: cover;

		&__title {
			margin-bottom: 8px;
		}

		&__text {
			font-size: 12px;
			font-weight: 300;
			margin-bottom: 24px;
			line-height: 1.5;
		}
	}
}