.popup-callback {
	max-width: 312px;

	&__text {
		text-align: center;
		margin-bottom: 14px;
	}

	&__field {
		margin-bottom: 12px !important;
	}

	&__checkbox {
		margin: 15px 0 26px !important;
	}

	&__submit {
		@include button($w: 100%);
	}
	@media (--phone) {
		&__text {
			text-align: left;
		}
	}
}