<div class="lang">
	<div class="lang__list">
		<div class="lang__item">
			<a href="#" class="lang__link">Es</a>
		</div>
		<!-- /.lang__item -->
		<div class="lang__item">
			<a href="#" class="lang__link">En</a>
		</div>
		<!-- /.lang__item -->
		<div class="lang__item active">
			<a href="#" class="lang__link">Ru</a>
		</div>
		<!-- /.lang__item -->
	</div>
	<!-- /.lang__list -->
</div>
<!-- /.lang -->
