<div class="header">
	<div class="header__inner">
		<div class="header__row">
			<div class="header__col">

				{% include "header/logo/global/logo.njk" %}

			</div>
			<!-- /.header__col -->
			<div class="header__col header__col_right">

				{% include "menu/menu-header/menu-header.njk" %}

				{% include "header/lang/lang.njk" %}

			</div>
			<!-- /.header__col -->
		</div>
		<!-- /.header__row -->
		<div class="header__burger" data-mobile-menu-burger></div>
	</div>
	<!-- /.header__inner -->
</div>
<!-- /.header -->
