<div class="footer">
	<div class="footer__inner">
		<div class="footer__copyright">Alma Tour, 2019 г. Копирование материалов сайта запрещено. </div>
		<!-- /.footer__copyright -->
	</div>
	<!-- /.footer__inner -->
</div>
<!-- /.footer -->
