{% macro catalogItem(
		src = 'images/catalog-item__pic1.png',
		src768 = 'images/catalog-item__pic1_w768.png',
		title = 'Patagonia',
		text = 'Прекрасный, но суровый край Чили. Необъятные равнины и гранитные шпили знаменитых Торрес дель Пайне не оставят вас равнодушными. Вы никогда не забудете путешествие мечты. ',
		mod = ''
	)
%}

<div class="catalog-item {{ mod }}">
	<div class="catalog-item__photo">
		<picture class="catalog-item__pic">
			<source media="(max-width: 768px)" data-srcset="{{ src768 }}">
			<img data-src="{{ src }}" alt="" class="lazyload">
		</picture>
		<div class="catalog-item__title">{{ title }}</div>
	</div>
	<!-- /.catalog-item__photo -->
	<div class="catalog-item__desc">
		<div class="catalog-item__title">{{ title }}</div>
		<!-- /.catalog-item__title -->
		{% if text != 'hide' %}
		<div class="catalog-item__text">{{ text }}</div>
		<!-- /.catalog-item__text -->
		{% endif %}
		<div class="catalog-item__footer">
			<a href="#" class="catalog-item__button">Подробнее о туре</a>
		</div>
		<!-- /.catalog-item__footer -->
	</div>
	<!-- /.catalog-item__desc -->
</div>
<!-- /.catalog-item -->

{% endmacro %}
