<div class="team">
	<div class="team__shadow shadow">Профессионалы</div>
	<div class="team__inner">
		<div class="team__title title">Наша команда</div>
		<!-- /.team__title -->
		<div class="team__text">
			На фотографиях ниже — люди, которые создали семью Alma Tour. Они ответят на все вопросы и помогут с организацией тура. Все гиды в нашей команде – профессиональные путешественники с многолетним опытом.
		</div>
		<!-- /.team__text -->
		{% from "social/social-items/social-items.njk" import socialItems %}
		<div class="team__row">
			<div class="team__col">
				<div class="team__item">
					<div class="team__photo">
						<img src="images/team__pic1.png" alt="" class="team__pic">
					</div>
					<!-- /.team__photo -->
					<div class="team__name">Анна</div>
					<!-- /.team__name -->
					<div class="team__smtext">Обошла пешком Винья-дель-мар и Вальпараисо 36 раз. </div>
					<!-- /.team__smtext -->
					{{ socialItems(
							arr = ['twitter', 'vk', 'messenger', 'instagram']
						)
					}}
				</div>
				<!-- /.team__item -->
			</div>
			<!-- /.team__col -->
			<div class="team__col">
				<div class="team__item">
					<div class="team__photo">
						<img src="images/team__pic2.png" alt="" class="team__pic">
					</div>
					<!-- /.team__photo -->
					<div class="team__name">Саша</div>
					<!-- /.team__name -->
					<div class="team__smtext">Прыгал с парашютом больше раз, чем Малена обошла пешком Винья-дель-мар. </div>
					<!-- /.team__smtext -->
					{{ socialItems(
							arr = ['twitter', 'vk', 'messenger', 'instagram']
						)
					}}
				</div>
				<!-- /.team__item -->
			</div>
			<!-- /.team__col -->
			<div class="team__col">
				<div class="team__item">
					<div class="team__photo">
						<img src="images/team__pic3.png" alt="" class="team__pic">
					</div>
					<!-- /.team__photo -->
					<div class="team__name">Игорь</div>
					<!-- /.team__name -->
					<div class="team__smtext">В походах за последние 10 лет жизни провел больше времени, чем дома.</div>
					<!-- /.team__smtext -->
					{{ socialItems(
							arr = ['twitter', 'vk', 'messenger', 'instagram']
						)
					}}
				</div>
				<!-- /.team__item -->
			</div>
			<!-- /.team__col -->
		</div>
		<!-- /.team__row -->
	</div>
	<!-- /.team__inner -->
</div>
<!-- /.team -->
