.file
	.file__section
		.file__field
			.file__text Заключение авторизованного сервисного центра.doc
			.file__delete.js-file__delete
		.file__field
			.file__text DSC_182112.jpg
			.file__delete.js-file__delete
	.file__footer
		span.file__button Загрузить файлы
			input.file__input(type="file")
