<div class="catalog-list">
	<div class="catalog-list__inner">
		<div class="catalog-list__title title">
			Patagonia
		</div>
		<!-- /.catalog-list__title title -->
		<div class="catalog-list__text">
			Прекрасный, но суровый край Чили. Необъятные равнины и гранитные шпили знаменитых Торрес дель Пайне не оставят вас равнодушными. Вы никогда не забудете путешествие мечты.
		</div>
		<!-- /.catalog-list__text -->

		{% from "catalog/catalog-item/catalog-item.njk" import catalogItem %}

		<div class="catalog-list__section">

			<div class="catalog-list__item">
				{{ catalogItem(
						src = 'images/catalog-item__pic7.png',
						src768 = 'images/catalog-item__pic7_w768.png',
						title = 'Тур в Национальный Парк Торрес дель Пайне и пещеру Милодон (из Пуэрто Наталес)',
						text = 'Испытайте впечатления от захватывающего путешествия на весь день в Национальный Парк Торреса дель Пейне',
						mod = 'catalog-item_list'
					)
				}}
			</div>
			<!-- /.catalog-list__item -->
			<div class="catalog-list__item">
				{{ catalogItem(
						src = 'images/catalog-item__pic8.png',
						src768 = 'images/catalog-item__pic8_w768.png',
						title = 'Путешествие к пингвинам острова Магдалена (из Пунта Аренас)',
						text = 'Путешествие по Магелланову проливу к этому маленькому острову, где живет 60 тысяч пар магеллановых пингвинов.',
						mod = 'catalog-item_list'
					)
				}}
			</div>
			<!-- /.catalog-list__item -->
			<div class="catalog-list__item">
				{{ catalogItem(
						src = 'images/catalog-item__pic9.png',
						src768 = 'images/catalog-item__pic9_w768.png',
						title = 'Ледники Балмаседа и Серрано (из Пуэрто Наталес)',
						text = 'hide',
						mod = 'catalog-item_list'
					)
				}}
			</div>
			<!-- /.catalog-list__item -->
			<div class="catalog-list__item">
				{{ catalogItem(
						src = 'images/catalog-item__pic10.png',
						src768 = 'images/catalog-item__pic10_w768.png',
						title = '«Однодневный тур к китам» (из Пунта Аренас)',
						text = 'hide',
						mod = 'catalog-item_list'
					)
				}}
			</div>
			<!-- /.catalog-list__item -->

		</div>
		<!-- /.catalog-list__section -->
	</div>
	<!-- /.catalog-list__inner -->
</div>
<!-- /.catalog-list -->
