.catalog-list {
	width: 1170px;
	margin: 0 auto;
	padding-bottom: 120px;
	padding-top: 57px;

	&__inner {}

	&__title {
		margin-bottom: 35px;
	}

	&__text {
		font-size: 17px;
		font-weight: 300;
		line-height: 1.76;
		text-align: center;
		margin: 0 auto 64px;
		max-width: 576px;
	}

	&__section {}

	&__item {
		margin-bottom: 64px;
	}
	@media (--phone) {
		width: 100%;
		padding: 32px 0 0;

		&__title {
			margin-bottom: 20px;
		}

		&__item {
			margin-bottom: 80px;

			&:last-child {
				margin-bottom: 20px;
			}
		}

		&__text {
			font-size: 14px;
			font-weight: 200;
			line-height: 1.43;
			margin-bottom: 22px;
		}
	}
}