<!DOCTYPE html>
<html lang="en">

	{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		{% include "main/main.njk" %}

		{% include "map/map.njk" %}

		{% include "catalog/catalog/catalog.njk" %}

		{% include "team/team.njk" %}

		{% include "contact/contact.njk" %}

		<div class="contact-wrappper-main">

			{% include "contacts-footer/contacts-footer.njk" %}

		</div>

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
