.social-items {
	display: flex;
	justify-content: center;

	&__row {
		display: flex;
		justify-content: center;
	}

	&__item {
		margin: 0 4px;
	}

	&__icon {
		display: block;
		width: 24px;
		height: 24px;
		opacity: 0.2;
		transition: background 300ms, opacity 300ms;

		&:hover {
			opacity: 1;
		}

		&_instagram {
			background: url("https://icongr.am/fontawesome/instagram.svg?size=24&color=ffffff") no-repeat;

			&:hover {
				background: url("https://icongr.am/fontawesome/instagram.svg?size=24&color=2f5bea") no-repeat;
			}
		}

		&_twitter {
			background: url("https://icongr.am/fontawesome/twitter.svg?size=24&color=ffffff") no-repeat;

			&:hover {
				background: url("https://icongr.am/fontawesome/twitter.svg?size=24&color=2f5bea") no-repeat;
			}
		}

		&_vk {
			background: url("https://icongr.am/fontawesome/vk.svg?size=24&color=ffffff") no-repeat;

			&:hover {
				background: url("https://icongr.am/fontawesome/vk.svg?size=24&color=2f5bea") no-repeat;
			}
		}

		&_messenger {
			background: url("https://icongr.am/jam/messenger.svg?size=24&color=ffffff") no-repeat;

			&:hover {
				background: url("https://icongr.am/jam/messenger.svg?size=24&color=2f5bea") no-repeat;
			}
		}
	}
}