<div class="detail-info">
	<div class="detail-info__title">На выбор одна из виноделен</div>
	<!-- /.detail-info__title -->
	<div class="detail-info__header">
		<div class="detail-info__col">
			<div class="detail-info__smtxt">Продолжительность тура</div>
			<!-- /.detail-info__smtxt -->
			<div class="detail-info__time">5 часов</div>
			<!-- /.detail-info__time -->
		</div>
		<!-- /.detail-info__col -->
		<div class="detail-info__col">
			<div class="detail-info__smtxt">Начало тура</div>
			<!-- /.detail-info__smtxt -->
			<div class="detail-info__time">9:00</div>
			<!-- /.detail-info__time -->
		</div>
		<!-- /.detail-info__col -->
		<div class="detail-info__col">
			<div class="detail-info__smtxt">Конец тура</div>
			<!-- /.detail-info__smtxt -->
			<div class="detail-info__time">14:00</div>
			<!-- /.detail-info__time -->
		</div>
		<!-- /.detail-info__col -->
	</div>
	<!-- /.detail-info__header -->
	<div class="detail-info__section">

		{% include "detail-page/detail-time/detail-time.njk" %}

		<div class="detail-info__block">
			<div class="detail-info__field">
				<div class="detail-info__smtitle">Что включено в тур:</div>
				<ul>
					<li>частный трансфер</li>
					<li>сопровождение гида (англо/испаноговорящий)</li>
					<li>ланч бокс</li>
					<li>минеральная вода</li>
				</ul>
			</div>

			<div class="detail-info__field">
				<div class="detail-info__smtitle">Что не включено в тур:</div>
				<ul>
					<li>входной билет в национальный парк</li>
				</ul>
			</div>
		</div>

		<div class="detail-info__required">
			<div class="detail-info__required-text">
				<span>*</span>По желанию возможно заказать обед на одной из виноделен
			</div>
			<div class="detail-info__required-text">
				<span>**</span>Тур на полдня. Время для посещения одной винодельни возможно изменить, но следует учитывать, что последний тур начинается в 16:30.
			</div>
			<div class="detail-info__required-text">
				<b>
					<span>***</span> Отмена туров в центральной части за 5 дней
				</b>
			</div>
		</div>

		<div class="detail-info__footer">
			Чаевые тут принято оставлять. В кафе это обычно 10%. На сайтах туристических фирм, в описании везде написано, что чаевые не включены. Но это по-желанию.
		</div>

	</div>
</div>
<!-- /.detail-info -->
