.detail-info {
	padding-bottom: 80px;

	&__title {
		font-size: 32px;
		font-weight: 300;
		line-height: 0.94;
		text-align: center;
		margin-bottom: 30px;
	}

	&__header {
		width: 973px;
		height: 141px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
		background: #0A0A0A;
		padding: 0 115px 8px;
		border-radius: 10px;
		align-items: center;
	}

	&__col {}

	&__smtxt {
		font-size: 13px;
		font-weight: 300;
		line-height: 2.31;
		text-align: center;
		color: #ffffff;
		opacity: 0.5;
	}

	&__time {
		font-size: 50px;
		font-weight: bold;
		line-height: 1;
		letter-spacing: 1.7px;
		text-align: center;
		color: #ffffff;
	}

	&__section {
		width: 570px;
		margin: 0 auto;
	}

	&__block {
		margin-bottom: 64px;
	}

	&__field {
		font-size: 17px;
		font-weight: 300;
		line-height: 1.76;
		color: #ffffff;

		ul {
			margin: 0 0 34px;
			padding: 0;
			list-style: none;

			li:before {
				content: '- ';
			}
		}
	}

	&__smtitle {
		font-weight: bold;
		color: #13cb65;
	}

	&__required {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.71;
		color: #ffffff;
		margin-bottom: 50px;

		&-text {
			margin-bottom: 17px;

			span {
				color: #13cb65;
			}

			b span {
				color: #d0011c;
			}
		}
	}

	&__footer {
		font-size: 17px;
		font-weight: 300;
		line-height: 1.76;
		text-align: center;
		color: #ffffff;

		&:before {
			width: 61px;
			height: 63px;
			display: block;
			margin: 0 auto 10px;
			background: url("../images/path.svg") no-repeat;
			content: '';
		}
	}
	@media (--phone) {
		padding-bottom: 0;
		margin-bottom: 32px;

		&__title {
			margin-bottom: 24px;
			font-size: 18px;
			font-weight: 300;
			line-height: 1.67;
		}

		&__header {
			flex-wrap: wrap;
			width: 100%;
			margin-bottom: 21px;
			height: auto;
			padding: 24px 24px 0;
		}

		&__col {
			width: 50%;
			margin-bottom: 24px;

			&:nth-child(1) {
				width: 100%;
			}
		}

		&__time {
			font-size: 32px;
			font-weight: bold;
			line-height: 1;
		}

		&__section {
			width: 100%;
		}

		&__block {
			margin-bottom: 37px;
		}

		&__field {
			font-size: 14px;
			font-weight: 300;
			line-height: 2;

			ul {
				margin-bottom: 25px;
			}

			ul li {
				line-height: 1;
				margin-bottom: 15px;
			}
		}

		&__smtitle {
			margin-bottom: 10px;
		}

		&__required {
			font-size: 12px;
			font-weight: 300;
			line-height: 1.17;
			margin-bottom: 16px;
		}

		&__footer {
			font-size: 12px;
			font-weight: 300;
			line-height: 1.17;

			&:before {
				margin-bottom: 0;
			}
		}
	}
}