<nav class="menu-header" id="js-menu-header">
	<ul class="menu-header__list">
		<li class="menu-header__item">
			<a href="#" class="menu-header__link">Туры</a>
		</li>
		<!-- /.menu-header__item -->
		<li class="menu-header__item">
			<a href="#" class="menu-header__link">Команда</a>
		</li>
		<!-- /.menu-header__item -->
		<li class="menu-header__item">
			<a href="#" class="menu-header__link">Контакты</a>
		</li>
		<!-- /.menu-header__item -->
	</ul>
	<!-- /.menu-header__list -->
</nav>
<!-- /.menu-header -->
