.map {
	padding-bottom: 80px;
	background: #0a0a0a;

	&__inner {
		width: 1170px;
		margin: 0 auto;
		position: relative;
		padding: 104px 0 0 278px;
	}

	&__map {
		width: 202px;
		height: 712px;
		position: absolute;
		left: 0;
		top: 70px;

		svg {
			display: block;
		}

	}

	&__point {
		use {
			&:nth-child(2) {
				opacity: 0;
				transition: opacity 400ms;
			}

		}

		&.active {
			use {
				&:nth-child(2) {
					opacity: 1;
				}

			}

		}

	}

	&__section {
		position: relative;
	}

	&__title {
		margin-bottom: 44px;
		font-size: 32px;
		font-weight: 200;
		line-height: 1.56;
		letter-spacing: 1.1px;

		b,
		span {
			font-weight: bold;
		}

		span {
			color: #13cb65;
		}

	}

	&__row {
		max-width: 720px;
		margin-bottom: 69px;
	}

	&__field {
	}

	&__mapcheck {
		margin: 0;
		display: inline-block;
		position: relative;

		input {
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}

	}

	&__mapchecktext {
		font-family: ForgottenNovember;
		font-size: 24px;
		line-height: 1.75;
		letter-spacing: 0.8px;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 5px;
			width: 0;
			height: 1px;
			background: #2f5bea;
			transition: width 400ms;
		}

	}

	&__changetext {
		display: none;
	}

	&__mapcheck input:checked ~ &__mapchecktext {
		&:after {
			width: 100%;
		}

	}

	&__plan {
		font-family: ForgottenNovember;
		font-size: 32px;
		line-height: 1.56;
		letter-spacing: 1.1px;
		margin-bottom: 14px;
	}

	&__info {
		font-size: 16px;
		font-weight: 200;
		line-height: 1.88;
		letter-spacing: 0.6px;
		margin-bottom: 39px;

		span {
			font-weight: 300;
		}

	}

	&__form {
		@include row(4px);
	}

	&__required {
		padding-top: 10px;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: 0.4px;
		color: #616161;
	}

	@media (--phone) {
		margin: 0 -16px;
		padding: 30px 0 32px;

		&__inner {
			width: 100%;
			padding: 0 16px;
		}

		&__map {
			width: 85px !important;
			height: 300px !important;
			left: auto;
			top: 104px;
			right: 0;

			svg {
				display: block;
				width: 85px !important;
				height: 300px !important;
			}

		}

		&__title {
			font-size: 18px;
			font-weight: 200;
			margin-bottom: 20px;
			line-height: 22px;
			text-align: center;
		}

		&__row {
			padding: 0 16px;
			margin-bottom: 45px;
		}

		&__field {
			margin-bottom: 0;
		}

		&__mapchecktext {
			display: block;
			line-height: 1.6;
		}

		&__plan {
			font-size: 24px;
			line-height: 1;
			text-align: center;
			margin-bottom: 16px;
		}

		&__info {
			font-size: 14px;
			font-weight: 200;
			line-height: 1.43;
			margin-bottom: 24px;
			text-align: center;
		}

		&__form {
			position: relative;

			[class*=col-] {
				&:nth-child(3) {
					padding-top: 52px;
					display: flex;
					justify-content: center;
				}

			}

		}

		&__required {
			position: absolute;
			left: 0;
			right: 0;
			margin-top: -101px;
			text-align: center;
		}

	}

}
